body {
	padding-top: 20px;
	padding-left: 20px;
}

p.text,p.text-bold{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

p.text-bold{
	font-weight:bold;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}